<div class="border">
  <h3>Using Directives</h3>

  <div class="container-parent">
    <div>
      <h5>With NgClass</h5>
      <div class="container" [ngClass]="isRandom ? 'red' : 'blue'"></div>
      <button type="button" (click)="clickRandom()">Click Me</button>
    </div>

    <div>
      <h5>With NgStyle</h5>
      <div class="container" [ngStyle]="containerRandomStyle"></div>
      <button type="button" (click)="clickRandomStyle()">Click Me</button>
    </div>

    <div>
      <h5>With NgIf</h5>
      <p *ngIf="isRandom">Hello World</p>
      <button type="button" (click)="clickIf()">Click Me</button>
    </div>

    <div>
      <h5>With Attribute Directives and Listener</h5>
      <h6>* Example when mouse hover and leave</h6>
      <div directiveYellow>
        Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem
        pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud
        ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut
        officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris
        cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia
        eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat
        ullamco ut ea consectetur et est culpa et culpa duis.
      </div>
    </div>

  </div>
</div>
